@import url('https://fonts.googleapis.com/css2?family=Rubik+Pixels&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alkatra&display=swap');
.title{
    font-family: 'Alkatra', cursive;;
    font-size: 50px;
}
.tracking-in-expand {
    -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
@-webkit-keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }
    40% {
        opacity: 0.6;
    }
    100% {
        opacity: 1;
    }
}
@keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }
    40% {
        opacity: 0.6;
    }
    100% {
        opacity: 1;
    }
}

.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
    overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
    font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-0lax{text-align:left;vertical-align:top}

.submit{
    background-image: url("img/send.png");
    width: 48px;
    height: 48px;
    border:none;
}
.reset{
    background-image: url("img/reset.png");
    width: 48px;
    height: 48px;
    border:none;
}

.btnClass {
    color: #ffffff;
    background-color: #2d63c8;
    font-size: 14px;
    border: 1px solid #2d63c8;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 8px;
    font-family: sans-serif;
    text-decoration: none;
    float: left;
}
.btnClass:hover {
    color: #2d63c8;
    background-color: #ffffff;
}
.rotate-hor-center {
    -webkit-animation: rotate-hor-center 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
    animation: rotate-hor-center 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}
@-webkit-keyframes rotate-hor-center {
    0% {
        -webkit-transform: rotateX(0);
        transform: rotateX(0);
    }
    100% {
        -webkit-transform: rotateX(-360deg);
        transform: rotateX(-360deg);
    }
}
@keyframes rotate-hor-center {
    0% {
        -webkit-transform: rotateX(0);
        transform: rotateX(0);
    }
    100% {
        -webkit-transform: rotateX(-360deg);
        transform: rotateX(-360deg);
    }
}
.vibrate-3 {
    -webkit-animation: vibrate-3 0.5s linear infinite both;
    animation: vibrate-3 0.5s linear infinite both;
}
@-webkit-keyframes vibrate-3 {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
    10% {
        -webkit-transform: translate(-2px, -2px);
        transform: translate(-2px, -2px);
    }
    20% {
        -webkit-transform: translate(2px, -2px);
        transform: translate(2px, -2px);
    }
    30% {
        -webkit-transform: translate(-2px, 2px);
        transform: translate(-2px, 2px);
    }
    40% {
        -webkit-transform: translate(2px, 2px);
        transform: translate(2px, 2px);
    }
    50% {
        -webkit-transform: translate(-2px, -2px);
        transform: translate(-2px, -2px);
    }
    60% {
        -webkit-transform: translate(2px, -2px);
        transform: translate(2px, -2px);
    }
    70% {
        -webkit-transform: translate(-2px, 2px);
        transform: translate(-2px, 2px);
    }
    80% {
        -webkit-transform: translate(-2px, -2px);
        transform: translate(-2px, -2px);
    }
    90% {
        -webkit-transform: translate(2px, -2px);
        transform: translate(2px, -2px);
    }
    100% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
}
@keyframes vibrate-3 {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
    10% {
        -webkit-transform: translate(-2px, -2px);
        transform: translate(-2px, -2px);
    }
    20% {
        -webkit-transform: translate(2px, -2px);
        transform: translate(2px, -2px);
    }
    30% {
        -webkit-transform: translate(-2px, 2px);
        transform: translate(-2px, 2px);
    }
    40% {
        -webkit-transform: translate(2px, 2px);
        transform: translate(2px, 2px);
    }
    50% {
        -webkit-transform: translate(-2px, -2px);
        transform: translate(-2px, -2px);
    }
    60% {
        -webkit-transform: translate(2px, -2px);
        transform: translate(2px, -2px);
    }
    70% {
        -webkit-transform: translate(-2px, 2px);
        transform: translate(-2px, 2px);
    }
    80% {
        -webkit-transform: translate(-2px, -2px);
        transform: translate(-2px, -2px);
    }
    90% {
        -webkit-transform: translate(2px, -2px);
        transform: translate(2px, -2px);
    }
    100% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
}